Django>=4.2,<5.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3.1
drf-spectacular>=0.27.1
drf-spectacular-sidecar>=2024.6.1
django-cors-headers>=4.3.1
django-filter>=24.2
pillow
gunicorn
psycopg2-binary
dj-database-url
python-decouple
python-dotenv
requests
resend